@font-face{
    font-family: 'myFont';
    src: url('./element-icons.ttf') format('tff');
    font-weight:600;
    font-style:normal;
}

.hello{
    color: aqua;
    font-family: myFont;
    background: url('./images.png');
}